{% extends "delivery/base-generation.html" %}
{% load static %}
{% block sidebar %}
<header id="header" class="header header_news">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <div class="logo__title">Login</div>
        <div class="logo__company-name">kallyas</div>
    </div>
    <div class="trigram" id="trigram">
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
    </div>
    <div class="header__options">
        <a href="" class="header__languages">languages</a>
        <ul class="header__social-networks">
            <li class="header__icon"><i class="fab fa-telegram-plane"></i></li>
            <li class="header__icon"><i class="fab fa-vk"></i></li>
            <li class="header__icon"><i class="fab fa-twitter"></i></li>
        </ul>
        <input type="text" class="header__search" placeholder="Search...">
    </div>
    </nav>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">company</a></li>
            <li class="nav__item"><a href="{% url 'vehisles' %}" class="nav__link">vehisles</a></li>
            <li class="nav__item"><a href="{% url 'news' %}" class="nav__link">news</a></li>
            <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
<div class="login">
    {% if form.errors %}
    <div class="login__error">
        {{form.errors}}
    </div>
    {% endif %}
    <form method="POST" class="login-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="login-form__input-block">
            <div class="login-form__label">{{field.label_tag}}</div>
            {{field}}
        </div>
        {% endfor %}
        <input type="submit" class="login-form__submit">
    </form>
</div>
{% endblock %}