/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans";
  font-weight: 400; }

.wrapper {
  position: relative;
  overflow: hidden; }

.body-shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 600ms;
  z-index: -1; }

.body-shadow.active {
  opacity: 1;
  z-index: 8000;
  transition: 600ms; }

.header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  margin-left: calc((100% - 1336px) / 2);
  max-width: 1336px;
  z-index: 9999; }

.header_news,
.header_vehisles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0;
  padding: 5px;
  max-width: 100%;
  background-color: #0d5195; }
  .header_news .logo,
  .header_vehisles .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    background-color: transparent; }
    .header_news .logo img,
    .header_vehisles .logo img {
      display: none; }
  .header_news .logo__title,
  .header_vehisles .logo__title {
    margin: 0 0 0 10px;
    line-height: 25px; }
  .header_news .logo__company-name,
  .header_vehisles .logo__company-name {
    display: none; }
  .header_news .header__options,
  .header_vehisles .header__options {
    margin: 0;
    padding: 0; }
  .header_news .nav__menu,
  .header_vehisles .nav__menu {
    margin: 0; }

.logo {
  box-sizing: border-box;
  padding-top: 60px;
  float: left;
  width: 188px;
  height: 188px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  background-color: #181834; }

.logo__title {
  margin-top: 23px;
  width: 100%;
  font-family: "Montserrat";
  font-size: 24px;
  color: #ffffff; }

.logo__company-name {
  margin-top: 6px;
  width: 100%;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.3); }

.header__options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  text-align: right; }

.header__logout,
.header__languages {
  display: inline-block;
  margin: 0 5px;
  font-family: "Montserrat";
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  transition: 200ms; }

.header__social-networks {
  display: inline-block;
  margin: 0 25px; }

.header__icon {
  display: inline-block;
  color: rgba(255, 255, 255, 0.95);
  padding: 0 5px;
  font-size: 0.95em;
  cursor: pointer; }

.header__logout:hover,
.header__languages:hover,
.header__icon:hover {
  color: #181834;
  transition: 200ms; }

.header__search {
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  width: 220px;
  height: 34px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-style: italic;
  transition: 200ms;
  outline: none; }

.header__search:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 200ms; }

.header__search:focus {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 200ms; }

.nav {
  display: block; }

.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 53px; }

.nav__item {
  padding: 0 15px;
  transition: 200ms; }

.nav__link {
  display: inline-block;
  padding: 7px 0;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }

.nav__link:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  transition: 100ms; }

.slider {
  position: relative;
  top: 0;
  left: 0;
  height: 780px;
  width: 100%;
  overflow: hidden; }

.slider__list {
  width: 9999px;
  height: 100%;
  background-color: #000000;
  transition: 1s; }

.slider__item {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100%;
  overflow: hidden; }

.slider__item-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.slider__text {
  position: absolute;
  top: 50%;
  right: 472px;
  text-align: right;
  opacity: 1;
  transition: 0.7s; }

.slider__text.shadowed {
  opacity: 0;
  transition: 0.7s; }

.slider__text-title {
  font-weight: 300;
  font-size: 60px;
  color: #ffffff; }

.slider__text-extra-title {
  margin: 30px -35px 0 0;
  font-family: "Montserrat";
  font-size: 16px;
  color: #ffffff; }

.slider__button {
  position: absolute;
  top: 62%;
  z-index: 1000;
  right: 472px;
  opacity: 1;
  transition: 0.7s; }
  .slider__button .slider__button-decorator:nth-child(1),
  .slider__button .slider__button-decorator:nth-child(2) {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 73px 73px;
    border-color: transparent transparent #0d5195 transparent;
    transition: 200ms; }
  .slider__button .slider__button-decorator:nth-child(2) {
    transform: translate(73px, 0) rotate(180deg); }
  .slider__button .slider__button-decorator:nth-child(3),
  .slider__button .slider__button-decorator:nth-child(4) {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 14px 14px;
    border-color: transparent transparent #0d5195 transparent;
    transition: 200ms; }
  .slider__button .slider__button-decorator:nth-child(3) {
    transform: translate(73px, -14px); }
  .slider__button .slider__button-decorator:nth-child(4) {
    transform: translate(146px, -14px) rotate(180deg); }
  .slider__button .slider__button-decorator:nth-child(5) {
    position: absolute;
    left: 87px;
    top: -14px;
    width: 59px;
    height: 14px;
    background-color: #0d5195;
    transition: 200ms; }
  .slider__button .slider__button-arrow {
    position: absolute;
    top: 20px;
    left: 70px;
    font-size: 1.5em;
    color: #ffffff; }

.slider__button:hover {
  cursor: pointer; }
  .slider__button:hover .slider__button-decorator:nth-child(1),
  .slider__button:hover .slider__button-decorator:nth-child(2) {
    border-color: transparent transparent #181834 transparent;
    transition: 200ms; }
  .slider__button:hover .slider__button-decorator:nth-child(3),
  .slider__button:hover .slider__button-decorator:nth-child(4) {
    border-color: transparent transparent #181834 transparent;
    transition: 200ms; }
  .slider__button:hover .slider__button-decorator:nth-child(5) {
    background-color: #181834;
    transition: 200ms; }

.slider__button.shadowed {
  opacity: 0;
  transition: 0.7s; }

.slider__triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 57px 0 0 50vw;
  border-color: transparent transparent transparent #f8f8f8; }

.slider__triangle_left {
  left: 0; }

.slider__triangle_right {
  transform: rotate3d(0, 1, 0, 180deg);
  right: 0; }

.action-box__container {
  padding-bottom: 415px;
  background-color: #f8f8f8; }

.action-box {
  position: relative;
  margin: -85px auto 0 auto;
  max-width: 1336px;
  border-top-right-radius: 4px; }

.action-box__triangle-container {
  position: relative;
  margin-top: -40px;
  height: 40px;
  width: 100%;
  border-top-left-radius: 4px;
  overflow: hidden; }

.action-box__triangle {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 1330px;
  border-top-left-radius: 4px;
  border-color: transparent transparent transparent #181834; }

.action-box__shadow-decorator {
  position: absolute;
  top: 10px;
  right: 60px;
  transform: rotate(-1.5deg);
  width: 800px;
  height: 170px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.19); }

.action-box__actions-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #181834;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.action-box__action {
  display: inline-block;
  padding: 64px 32px; }

.action-box__button {
  width: 280px;
  height: 62px;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #ffffff;
  background-color: #0d5195;
  font-family: "Montserrat";
  transition: 200ms; }

.action-box__button:hover {
  background-color: #181834;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: 200ms; }

.action-box__text-title {
  margin-left: 45px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #ffffff; }

.action-box__text {
  margin: 20px 0 0 45px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5); }

.action-box__icon {
  float: left;
  height: 100%;
  font-size: 200%;
  color: rgba(255, 255, 255, 0.5); }

.delivery-info {
  position: relative; }

.title__header {
  font-family: "Montserrat";
  font-size: 34px;
  text-transform: uppercase; }

.title__extra {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3); }

.title__underline {
  width: 50px;
  height: 3px;
  background-color: #0d5195; }

.title__text {
  font-size: 13px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8); }

.title_delivery-info {
  top: -100px;
  width: 100%;
  margin: -300px 0 86px 0;
  text-align: center; }
  .title_delivery-info .title__header {
    margin: 20px 0; }
  .title_delivery-info .title__underline {
    margin: 0 auto; }

.title_customer-action {
  margin-bottom: 50px; }
  .title_customer-action .title__header {
    margin-bottom: 10px;
    font-size: 24px; }
  .title_customer-action .title__underline {
    margin: 30px 0; }

.title_facts {
  text-align: center; }
  .title_facts .title__extra {
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.2); }
  .title_facts .title__header {
    margin-top: 35px;
    font-size: 24px;
    color: #ffffff; }
  .title_facts .title__underline {
    margin: 20px auto 0 auto; }

.title_company-life .title__header {
  font-size: 16px; }

.title_company-life .title__underline {
  margin-top: 20px; }

.title_important-news .title__header {
  font-size: 16px; }

.title_important-news .title__underline {
  margin: 10px 0;
  width: 100%; }

.title_news-content .title__header {
  font-size: 24px;
  margin-bottom: 3px; }

.title_news-content .title__extra {
  font-size: 14px; }

.title_news-content__item .title__header {
  display: block;
  font-size: 15.5px;
  text-decoration: none;
  color: #000000;
  transition: 200ms; }

.title_news-content__item .title__header:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: 200ms; }

.title_news-content__item .title__underline {
  width: 100%;
  margin: 5px 0; }

.delivery-info__methods-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 1336px;
  margin: 0 auto; }

.delivery-info__method {
  position: relative;
  max-width: 425px;
  max-height: 440px;
  margin-bottom: 20px;
  overflow: hidden; }
  .delivery-info__method img {
    height: 100%; }

.delivery-info__method:hover .delivery-info__method-shadow {
  box-shadow: inset 25px -400px 230px -91px rgba(0, 0, 0, 0.9);
  transition: 600ms; }

.delivery-info__method:hover .delivery-info__text-container .delivery-info__method-name {
  font-size: 1.3em;
  transition: 600ms; }

.delivery-info__method-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 25px -400px 230px -91px rgba(0, 0, 0, 0.76);
  transition: 600ms; }

.delivery-info__text-container {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  text-decoration: none; }

.delivery-info__icon {
  color: #ffffff;
  font-size: 300%;
  margin-bottom: 30px; }

.delivery-info__method-name {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  transition: 600ms; }

.features {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: wrap;
  padding: 200px 0; }

.features__item {
  max-width: 350px;
  padding: 10px; }

.features__icon {
  margin-bottom: 10px;
  font-size: 140%;
  color: #0d5195; }

.features__title {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.features__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.5); }

.features_customer-action {
  justify-content: space-between;
  margin: 0;
  padding: 0; }
  .features_customer-action .features__item {
    padding: 10px 0;
    width: 50%; }

.fleet-gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 230px 0 100px 0; }

.fleet-gallery__background-decorator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0d5195;
  z-index: -1; }

.fleet-gallery__description {
  display: inline-block;
  width: 20%;
  margin-left: 8%; }

.fleet-gallery__title {
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff; }

.fleet-gallery__text {
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5); }

.fleet-gallery__button {
  display: inline-block;
  width: 114px;
  height: 52px;
  border: 0;
  border-radius: 4px;
  line-height: 52px;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  transition: 200ms; }

.fleet-gallery__slider-button {
  position: absolute;
  top: 195px;
  left: 48%;
  font-size: 200%;
  color: #ffffff;
  z-index: 1000;
  transition: 200ms; }

.fleet-gallery__slider-button:hover {
  color: #181834;
  cursor: pointer;
  transition: 200ms; }

.fleet-gallery__slider-button_left {
  left: 44%; }

.fleet-gallery__button:hover {
  color: #ffffff;
  background-color: #181834;
  cursor: pointer;
  transition: 200ms; }

.fleet-gallery__slider {
  max-width: 1200px;
  overflow: hidden; }

.fleet-gallery__slider-list {
  height: 400px;
  width: 9999px;
  transition: 650ms; }

.fleet-gallery__slider-item {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 380px;
  margin-right: 30px;
  vertical-align: top;
  overflow: hidden; }

.fleet-gallery__image {
  height: 100%; }

.customer-action {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 110px auto;
  max-width: 1336px; }

.customer-action__info-container {
  width: 48%; }

.customer-action__quote-form {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  box-sizing: border-box;
  padding: 50px;
  width: 650px;
  background-color: #f4f4f4; }

.customer-action__form-header {
  margin-bottom: 50px;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: center; }

.customer-action__input-container {
  margin-bottom: 15px; }

.customer-action__input-container_extended {
  display: block;
  width: 100%; }
  .customer-action__input-container_extended .customer-action__input {
    width: 100%; }

.customer-action__input-title {
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  color: rgba(0, 0, 0, 0.55);
  background-color: #ffffff; }

.customer-action__input {
  box-sizing: border-box;
  padding: 11px;
  width: 260px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  color: #000000; }

.customer-action__input::placeholder,
.customer-action__message::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3); }

.customer-action__message {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 11px;
  width: 100%;
  height: 160px;
  border: 1px solid #d9d9d9;
  border-top: 0;
  text-transform: none;
  resize: none; }

.customer-action__form-submit {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: 0;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0d5195;
  transition: 200ms; }

.customer-action__form-submit:hover {
  background-color: #181834;
  transition: 200ms;
  cursor: pointer; }

.facts {
  padding: 100px 0;
  background-color: #181834; }

.facts__list {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-flow: wrap;
  padding-top: 100px;
  max-width: 1336px;
  margin: 0 auto; }

.facts__item {
  display: flex;
  width: 640px;
  margin-bottom: 50px; }

.facts__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 190px;
  margin-right: 50px;
  font-family: "Montserrat";
  font-size: 56px;
  color: #ffffff; }

.facts__icon {
  color: rgba(255, 255, 255, 0.1);
  font-size: 300%; }

.facts__header {
  font-family: "Montserrat";
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px 0; }

.facts__text {
  font-size: 13px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3); }

.company-life {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1336px; }

.clients {
  width: 770px; }

.clients__item {
  margin: 30px 0;
  width: 100%; }

.clients__text {
  padding: 35px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f8f8f8; }

.clients__client {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  margin-top: -20px;
  padding: 0 30px; }

.clients__client-photo {
  width: 110px;
  height: 110px;
  border-radius: 90px;
  margin-right: 20px;
  overflow: hidden; }
  .clients__client-photo img {
    display: block;
    height: 100%; }

.clients__client-info {
  width: 400px; }

.clients__client-name {
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 30px; }

.clients__client-position {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3); }

.news {
  position: relative;
  width: 425px; }

.news__view-all {
  position: absolute;
  right: 0;
  font-family: "Montserrat";
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000; }

.news__view-all:hover {
  text-decoration: underline; }

.news__item {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  height: 80px;
  border-bottom: 1px solid #eeeeee; }

.news__item:last-child {
  border-bottom: none; }

.news__image {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 20px; }
  .news__image img {
    height: 100%; }

.news__text-container {
  width: 100%;
  height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal; }

.news__header {
  font-family: "Montserrat";
  font-size: 13px;
  margin-bottom: 5px;
  color: #000000;
  transition: 200ms; }

.news__header:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: 200ms; }

.news__text {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.quote {
  margin: 0 auto;
  padding: 100px 0;
  background-color: #f8f8f8; }

.quote__elems-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1336px;
  margin: 0 auto; }

.quote__header {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase; }

.quote__text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5); }

.quote__button {
  width: 190px;
  height: 65px;
  border: none;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0d5195;
  transition: 200ms; }

.quote__button:hover {
  background-color: #181834;
  transition: 200ms;
  cursor: pointer; }

.footer {
  padding: 130px 10px;
  background-color: #1c1c1c; }

.footer__elems-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1336px; }

.about-company {
  width: 400px; }

.about-company__logo {
  margin-bottom: 40px;
  text-align: center; }

.about-company__description {
  font-size: 13px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.2); }

.custom-nav__wrapper {
  display: flex;
  justify-content: space-between; }

.custom-nav {
  width: 200px;
  margin-right: 30px; }

.custom-nav:last-child {
  margin-right: 0; }

.custom-nav__header,
.company-info__header {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff; }

.custom-nav__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.custom-nav__link {
  display: block;
  padding: 15px 0;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  transition: 200ms; }

.custom-nav__link::after {
  content: ">";
  float: right;
  margin-top: -6px;
  font-size: 25px; }

.custom-nav__link:hover {
  color: #ffffff;
  transition: 200ms; }
  .custom-nav__link:hover ::after {
    color: #ffffff;
    transition: 200ms; }

.company-info__info {
  margin: 30px 0; }

.company-info__text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.2); }
  .company-info__text i {
    margin-right: 5px; }

.company-info__social-networks {
  margin: 30px 0; }

.company-info__icon {
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.2);
  transition: 200ms; }

.company-info__icon:hover {
  color: #ffffff;
  transition: 200ms;
  cursor: pointer; }

.important-news {
  position: relative;
  margin: 20px auto 0 auto;
  max-width: 1336px;
  overflow: hidden; }

.important-news__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 150px;
  width: 30px;
  font-size: 180%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  cursor: pointer;
  transition: 200ms;
  z-index: 10; }

.important-news__button:hover {
  color: #000000;
  background-color: transparent;
  transition: 200ms; }

.important-news__button_right {
  right: 0; }

.important-news__list {
  display: flex;
  flex-wrap: nowrap;
  width: 9999px;
  transition: 600ms; }

.important-news__item {
  position: relative;
  margin-right: 5px;
  width: 100%;
  max-width: 300px;
  height: 150px;
  overflow: hidden; }

.important-news__header {
  display: inline-block;
  margin: 7px 0 0 7px;
  transition: 200ms; }

.important-news__header:hover {
  border-bottom: 1px solid #ffffff;
  transition: 200ms; }

.important-news__link {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none; }

.important-news__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  z-index: -1; }

.important-news__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1; }

.news-content {
  max-width: 1336px;
  margin: 50px auto; }

.news-content__list {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin-top: 50px; }

.news-content__item {
  position: relative;
  margin: 0 20px 20px 0;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15); }

.news-content__image {
  display: block;
  max-height: 180px;
  width: 100%; }

.news-content__text-container {
  padding: 10px; }

.news-content__header {
  margin-bottom: 5px; }

.news-content__link {
  font-family: "Montserrat";
  font-size: 15.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: 200ms; }

.news-content__link:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: 200ms; }

.news-content__text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8); }

.news-content__pub-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8); }

.ordering {
  max-width: 1336px;
  margin: 30px auto;
  padding: 0 5px; }

.ordering__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 6px; }

.ordering__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px 0; }

.ordering__label {
  display: inline-block;
  transform: rotate(-90deg);
  width: 30px;
  height: 16px;
  border-radius: 3px;
  background-color: #0d5195;
  color: red;
  transition: 200ms;
  text-align: center; }

.ordering__text {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  background-color: #0d5195;
  color: #ffffff;
  padding: 0 5px; }

.ordering__label:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 200ms;
  cursor: pointer; }

.ordering__checkbox:checked + label {
  transform: rotate(90deg);
  color: #0dc90d; }

.ordering__submit {
  margin-left: 10px;
  height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  background-color: #0d5195;
  color: #ffffff;
  transition: 200ms; }

.ordering__submit:hover {
  background-color: #181834;
  transition: 200ms;
  cursor: pointer; }

.filters {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 5px; }

.filters__header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0; }

.filters__header {
  margin-right: 10px;
  font-family: "Montserrat";
  font-size: 16px;
  text-transform: uppercase; }

.filters__button {
  height: 30px;
  display: block;
  border-radius: 2px;
  text-align: center;
  line-height: 30px;
  background-color: #0d5195;
  color: #ffffff;
  transition: 400ms; }

.filters__button_open {
  transform: rotate(90deg);
  margin-right: 10px;
  width: 30px;
  font-size: 150%; }

.filters__button_reset {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none; }

.filters__button:hover {
  background-color: #181834;
  transition: 200ms;
  cursor: pointer; }

.filters__button_open.open {
  transform: rotate(-90deg);
  transition: 400ms; }

.filters__form {
  max-height: 0;
  overflow: hidden;
  transition: 600ms; }

.filters__form.open {
  max-height: 1000px; }

.filters__text {
  font-size: 13.5px;
  text-transform: uppercase; }

.filters__text_bold {
  font-family: "Montserrat"; }

.filters__filter-container {
  padding: 7px 0; }
  .filters__filter-container .filters__text {
    margin-right: 10px; }
  .filters__filter-container input,
  .filters__filter-container select {
    border-radius: 2px;
    border: 1px solid #0d5195; }

.filters__submit {
  padding: 10px;
  border-radius: 2px;
  border: 0;
  text-transform: uppercase;
  background-color: #0d5195;
  color: #ffffff; }

.filters__results {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 5px; }

.filters__results_error {
  padding: 20px 5px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase; }

.vehisles {
  margin: 0 auto;
  padding: 50px 5px;
  max-width: 1336px; }

.vehisles__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.vehisles__item {
  margin: 0 20px 20px 0;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15); }

.vehisles__image {
  width: 100%;
  max-height: 180px; }

.vehisles__text-container {
  padding: 5px 7px; }

.vehisles__text {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 0; }

.vehisles__text_bold {
  font-family: "Montserrat"; }

.vehisles__text_degree {
  font-size: 11px;
  vertical-align: top; }

.vehisles__model {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase; }

.vehisles__type {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8); }

.vehisles__extra-info {
  margin-top: 10px; }

.pagination {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px auto;
  max-width: 1336px; }

.pagination__list {
  display: flex;
  justify-content: center;
  width: 50%; }

.pagination__list_options {
  justify-content: flex-end; }

.pagination__text {
  font-size: 15px; }

.pagination__item {
  vertical-align: top;
  margin-left: 5px;
  transition: 200ms; }

.pagination__link:hover {
  background-color: #181834;
  transition: 200ms; }

.pagination__item_current {
  align-self: center; }
  .pagination__item_current .pagination__link {
    background-color: #181834; }

.pagination__link {
  padding: 1px 4px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #0d5195;
  color: #ffffff; }

@media screen and (max-width: 1336px) {
  .header {
    margin-left: 0;
    padding: 0; }
  .header_news,
  .header_vehisles {
    padding: 5px;
    flex-flow: wrap; }
    .header_news .logo,
    .header_vehisles .logo {
      justify-content: center;
      width: 50%; }
    .header_news .logo__title,
    .header_vehisles .logo__title {
      width: auto; }
    .header_news .header__options,
    .header_vehisles .header__options {
      width: 50%; }
    .header_news .nav,
    .header_vehisles .nav {
      margin-top: 20px; }
  .header__options {
    justify-content: center; }
  .logo {
    padding-top: 33px;
    width: 150px;
    height: 150px; }
  .nav__menu {
    justify-content: center; }
  .action-box__shadow-decorator {
    display: none; }
  .action-box__action {
    padding: 40px 20px; }
  .slider__item img {
    max-height: 100%; }
  .slider__button {
    right: 292px; }
  .slider__text {
    right: 292px; }
  .features {
    padding: 100px 0; }
  .fleet-gallery {
    display: block;
    padding: 0; }
  .fleet-gallery__slider {
    margin: 100px auto 0 auto; }
  .fleet-gallery__description {
    margin: 0;
    padding-top: 100px;
    width: 100%;
    text-align: center; }
  .fleet-gallery__background-decorator {
    width: 100%;
    height: 70%; }
  .fleet-gallery__slider-button {
    top: 40.5%; }
  .fleet-gallery__slider-button_left {
    text-align: left;
    left: 45%; }
  .fleet-gallery__slider-button_right {
    text-align: right;
    right: 45%; }
  .customer-action {
    display: block; }
  .customer-action__info-container {
    width: 100%;
    margin: 0 auto; }
  .title_customer-action {
    margin: 0 auto;
    width: 70%;
    text-align: center; }
    .title_customer-action .title__underline {
      margin: 30px auto; }
  .features_customer-action {
    justify-content: space-evenly; }
    .features_customer-action .features__item {
      padding: 15px; }
  .customer-action__quote-form {
    margin: 0 auto; }
  .facts__list {
    display: block; }
  .facts__item {
    margin: 0 auto 50px auto; }
  .facts__item:last-child {
    margin-bottom: 0; }
  .quote__elems-container {
    justify-content: space-evenly; }
  .important-news {
    margin: 20px 5px 0 5px; }
  .news-content {
    margin: 50px 5px; } }

@media screen and (max-width: 1200px) {
  .header_news .logo,
  .header_vehisles .logo {
    width: 40%; }
  .header_news .header__options,
  .header_vehisles .header__options {
    width: 60%; }
  .fleet-gallery__slider {
    padding-left: calc((100% - 380px) / 2); }
  .company-life {
    display: block; }
    .company-life .title {
      text-align: center; }
    .company-life .title__underline {
      margin: 20px auto 0 auto; }
  .clients {
    width: 100%;
    max-width: 770px;
    margin: 50px auto; }
  .news {
    margin: 100px auto;
    width: 100%;
    max-width: 770px; }
  .news__view-all {
    font-size: 12px;
    text-decoration: underline;
    transition: 200ms; }
  .news__view-all:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: 200ms; }
  .news__item {
    padding: 30px 5px;
    justify-content: space-evenly; }
  .footer__elems-container {
    display: block; }
  .about-company,
  .company-info {
    margin: 0 auto; }
  .about-company {
    width: 100%;
    max-width: 500px; }
  .custom-nav__wrapper {
    margin: 50px 0;
    justify-content: space-evenly; }
  .company-info {
    text-align: center; } }

@media screen and (max-width: 950px) {
  .header_news .logo,
  .header_vehisles .logo {
    width: 30%; }
  .header_news .header__options,
  .header_vehisles .header__options {
    width: 70%; }
  .slider__text {
    right: 200px; }
  .slider__button {
    right: 200px; }
  .action-box__action {
    padding: 20px 10px; }
  .fleet-gallery__slider-button_left {
    left: 43%; }
  .fleet-gallery__slider-button_right {
    right: 43%; } }

@media screen and (max-width: 750px) {
  .header {
    position: fixed;
    top: 0;
    height: 37px;
    width: 100%;
    background-color: transparent; }
  .header_news,
  .header_vehisles {
    display: block;
    padding: 0; }
    .header_news .logo,
    .header_vehisles .logo {
      display: block;
      width: 100%;
      background-color: #181834; }
    .header_news .logo__title,
    .header_vehisles .logo__title {
      margin: 0; }
    .header_news .nav,
    .header_vehisles .nav {
      margin-top: 0; }
    .header_news .header__search,
    .header_vehisles .header__search {
      margin-top: 10px; }
  .logo,
  .header_news .logo,
  .header_vehisles .logo {
    padding: 0 0 0 10px;
    width: 100%;
    height: auto;
    text-align: left;
    background-color: #181834; }
    .logo img,
    .header_news .logo img,
    .header_vehisles .logo img {
      display: inline-block;
      padding: 5px;
      width: 50px; }
  .logo__title,
  .header_news .logo__title,
  .header_vehisles .logo__title {
    display: inline-block;
    width: auto;
    line-height: 37px;
    vertical-align: top;
    margin: 0;
    font-size: 20px;
    text-transform: none; }
  .logo__company-name {
    display: none; }
  .trigram {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    cursor: pointer; }
  .trigram.open .trigram__line:nth-child(1) {
    transform: translate(0, 10px) rotate(405deg); }
  .trigram.open .trigram__line:nth-child(2) {
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 2s transform 600ms; }
  .trigram.open .trigram__line:nth-child(3) {
    transform: translate(0, -12px) rotate(-405deg); }
  .trigram__line {
    width: 30px;
    height: 1px;
    margin: 0 0 10px 3px;
    background-color: #ffffff;
    transition: 600ms; }
  .trigram__line:nth-child(1) {
    margin-top: 6px; }
  .header__options,
  .header_news .header__options,
  .header_vehisles .header__options {
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
    transform: translate(-100%, 0);
    padding-left: 15px;
    width: 50%;
    background-color: #181834;
    transition: 600ms; }
  .header__options.open {
    transform: translate(0, 0);
    transition: 600ms; }
  .header__social-networks {
    margin: 0;
    width: 100%;
    text-align: left;
    margin: 10px 0; }
  .header__icon {
    font-size: 1.2em;
    padding: 5px 10px 5px 0; }
  .header__icon:hover {
    color: #0d5195; }
  .header__logout,
  .header__languages {
    padding: 5px 10px 5px 0;
    margin: 0 0 30px 0; }
  .header__logout:hover,
  .header__languages:hover {
    color: #ffffff; }
  .header__search {
    margin-bottom: 30px; }
  .nav,
  .header_news .nav,
  .header_vehisles .nav {
    transform: translate(-100%, 0);
    height: 100vh;
    width: 50%;
    background-color: #181834;
    transition: 600ms; }
  .nav.open {
    transform: translate(0, 0);
    transition: 600ms; }
  .nav__menu {
    display: block;
    margin: 0; }
  .nav__item {
    padding: 5px 0 5px 15px; }
  .nav__item:hover {
    background-color: #0d5195;
    transition: 200ms; }
  .nav__link {
    width: 100%; }
  .nav__link:hover {
    border: none;
    padding: 7px 0; }
  .slider {
    height: 600px; }
  .slider__text {
    top: 40%;
    right: 75px; }
  .slider__text-title {
    font-size: 45px; }
  .slider__text-extra-title {
    font-size: 0.9em; }
  .action-box__actions-list {
    display: block; }
  .action-box__action {
    display: block;
    text-align: center; }
  .action-box__icon {
    display: block;
    float: none; }
  .action-box__text,
  .action-box__text-title {
    margin: 15px 0; }
  .delivery-info__method {
    height: 300px; }
  .delivery-info__method-shadow {
    box-shadow: inset 0px -250px 200px 0px rgba(0, 0, 0, 0.9); }
  .title_customer-action {
    width: 95%; }
  .features__item {
    width: 100%;
    max-width: 425px; }
  .features_customer-action {
    padding: 50px 0; }
    .features_customer-action .features__item {
      padding: 15px 1px; }
  .customer-action__quote-form {
    width: auto; }
  .customer-action__input-container {
    width: 100%; }
    .customer-action__input-container .customer-action__input {
      width: 100%; }
  .facts__item {
    display: block;
    width: 100%;
    text-align: center; }
  .facts__number {
    margin: 0 auto 20px auto; }
  .quote__elems-container {
    justify-content: center;
    flex-flow: wrap; }
  .quote__text-container {
    margin-bottom: 50px;
    text-align: center; } }

@media screen and (max-width: 500px) {
  .slider__text {
    top: 30%;
    right: 0;
    width: 100%;
    text-align: center; }
  .header__options,
  .header_news .header__options,
  .header_vehisles .header__options {
    width: 100%; }
  .nav,
  .header_news .nav,
  .header_vehisles .nav {
    width: 100%; }
  .slider__button {
    left: calc(50% - 50px); }
    .slider__button .slider__button-decorator {
      display: none; }
    .slider__button .slider__button-decorator:nth-child(1) {
      display: block;
      width: 100px;
      height: 50px;
      background-color: #0d5195;
      border: none;
      border-radius: 4px; }
    .slider__button .slider__button-decorator:nth-child(1):hover {
      background-color: #181834;
      transition: 200ms; }
    .slider__button .slider__button-arrow {
      transform: translate(-25px, -6px); }
  .action-box__button {
    width: 220px; }
  .fleet-gallery__slider {
    padding-left: calc((100% - 300px) / 2); }
  .fleet-gallery__slider-button_left {
    left: 40%; }
  .fleet-gallery__slider-button_right {
    right: 40%; }
  .fleet-gallery__slider-item {
    width: 300px;
    height: 300px; }
  .customer-action__quote-form {
    padding: 50px 10px; }
  .news__view-all {
    position: static;
    display: block;
    margin-top: 30px;
    padding-right: 20px;
    text-align: right; }
  .news__item {
    flex-flow: wrap;
    height: auto; }
  .news__image {
    width: 100%;
    height: 100px;
    margin: 0 0 10px 0;
    text-align: center; }
  .news__text-container {
    display: block;
    text-align: center;
    height: auto; } }

@media screen and (max-width: 400px) {
  .custom-nav {
    margin: 30px auto; }
  .custom-nav:last-child {
    margin: 30px auto; }
  .custom-nav__wrapper {
    display: block; }
  .important-news__button {
    height: 125px; }
  .important-news__item {
    width: 250px;
    height: 125px; }
  .news-content__item {
    margin-right: 0;
    width: 100%;
    min-width: auto;
    max-width: 250px; }
  .news-content__pub-date {
    position: static;
    padding: 2px 0;
    text-align: right; }
  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .filters__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .filters__filter-container {
    width: 100%;
    text-align: center; }
  .vehisles__item {
    margin: 0 0 20px 0; }
  .pagination {
    flex-wrap: wrap; }
  .pagination__list {
    width: 100%; }
  .pagination__list_options {
    justify-content: center;
    margin-top: 20px; } }

@media screen and (max-width: 300px) {
  .action-box__action_button {
    padding: 20px 0; }
  .action-box__button {
    width: 100%;
    max-width: 220px; }
  .fleet-gallery__slider {
    padding-left: calc((100% - 250px) / 2); }
  .fleet-gallery__slider-item {
    max-width: 250px;
    height: 250px; }
  .customer-action__quote-form {
    padding: 50px 5px; } }

