{% extends 'delivery/base-generation.html' %}

{% load static %}
{% load custom_template_tags %}

{% block title %}<title>Control panel</title>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user|has_group:'news_admins' or user|has_group:'news_moderators' or user.is_superuser %}
<div class="control-panel__title">
    <span class="control-panel__title_colored">{{user.username}}'s</span> control panel
</div>
<div class="control-panel">
    <ul class="control-panel__list" id="control-panel__menu">
        {% if perms.delivery.view_news %}
        <li class="control-panel__item" data-model-name='news'>
            News
        </li>
        {% endif %}
        {% if perms.delivery.view_proposednews %}
        <li class="control-panel__item" data-model-name='proposed_news'>
            Proposed news
        </li>
        {% endif %}
        {% if perms.delivery.view_quickquote %}
        <li href="#quick_quote" class="control-panel__item" data-model-name='quick_quote'>
            Quick quotes
        </li>
        {% endif %}
        {% if perms.delivery.view_vehisle %}
        <li class="control-panel__item" data-model-name='vehisle'>
            Vehisles
        </li>
        {% endif %}
        {% if perms.delivery.view_deliveryclass %}
        <li class="control-panel__item" data-model-name='delivery_class'>
            Delivery classes
        </li>
        {% endif %}
    </ul>
    <ul class="control-panel__block-list" id="control-panel__block-list">
        {% if perms.delivery.view_news %}
        <li data-model-name="news" class="control-panel__block control-panel__news-control">
            <div class="control-panel__header">News</div>
            <div class="news-control">
                <div class="control-panel__text">Total news published: {{news_count}}</div>
                {% if perms.delivery.add_news %}
                <a href="{% url 'create_news' %}" class="control-panel__create-button">Create news</a>
                {% endif %}
                <div class="models-list__header">News list <div class="models-list__button">&lt;</div>
                </div>
                <ul class="models-list">
                    {% for item in news_list %}
                    <li class="models-list__item">
                        <a href="{% url 'news_single' pk=item.pk %}" class="models-list__link">{{item.title}}</a>
                        <div class="models-list__extra-links">
                            {% if perms.delivery.change_news %}
                            <a href="{% url 'change_news' pk=item.pk %}"
                                class="models-list__link models-list__link_change">
                                change
                            </a>
                            {% endif %}
                            {% if perms.delivery.delete_news %}
                            <a href="{% url 'news_single_delete' pk=item.pk %}"
                                class="models-list__link models-list__link_delete">
                                delete
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}
        {% if perms.delivery.view_proposednews %}
        <li data-model-name="proposed_news" class="control-panel__block control-panel__news-control">
            <div class="control-panel__header">Proposed news</div>
            <div class="news-control">
                <div class="control-panel__text">Total news offered: {{proposed_news_count}}</div>
                {% if perms.delivery.add_proposednews %}
                <a href="{% url 'offer_news' %}" class="control-panel__create-button">Offer news</a>
                {% endif %}
                <div class="models-list__header">Proposed news list <div class="models-list__button">&lt;</div>
                </div>
                <ul class="models-list">
                    {% for item in proposed_news_list %}
                    <li class="models-list__item">
                        <a href="{% url 'proposed_news_demo' pk=item.pk %}" class="models-list__link">{{item.title}}</a>
                        <div class="models-list__extra-links">
                            {% if perms.delivery.add_news %}
                            <a href="{% url 'confirmed_proposed_news' pk=item.pk %}"
                                class="models-list__link models-list__link_confirm">
                                confirm
                            </a>
                            {% endif %}
                            {% if perms.delivery.delete_proposednews %}
                            <a href="{% url 'delete_proposed_news' pk=item.pk %}"
                                class="models-list__link models-list__link_delete">
                                delete
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}
        {% if perms.delivery.view_quickquote %}
        <li data-model-name="quick_quote" class="control-panel__block control-panel__news-control">
            <div class="control-panel__header">Quick quotes</div>
            <div class="news-control">
                <div class="control-panel__text">Total quotes: {{quick_quote_count}}</div>
                <div class="models-list__header">Quick quotes list<div class="models-list__button">&lt;</div>
                </div>
                <ul class="models-list">
                    {% for item in quick_quote_list %}
                    <li class="models-list__item">
                        <a href="{% url 'show_quick_quote' pk=item.pk %}" class="models-list__link">{{item.name}}, about: {{item.subject}}</a>
                        <div class="models-list__extra-links">
                            {% if perms.delivery.delete_quickquote %}
                            <a href="{% url 'delete_quick_quote' pk=item.pk %}"
                                class="models-list__link models-list__link_delete">
                                delete
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}
        {% if perms.delivery.view_vehisle %}
        <li data-model-name="vehisle" class="control-panel__block control-panel__news-control">
            <div class="control-panel__header">Vehisles</div>
            <div class="news-control">
                <div class="control-panel__text">Total vehisles: {{vehisles_count}}</div>
                {% if perms.delivery.add_vehisle %}
                <a href="{% url 'create_vehisle' %}" class="control-panel__create-button">Add vehisle</a>
                {% endif %}
                <div class="models-list__header">Vehisles list <div class="models-list__button">&lt;</div>
                </div>
                <ul class="models-list">
                    {% for item in vehisles_list %}
                    <li class="models-list__item">
                        <a href="#" class="models-list__link">{{item}}</a>
                        <div class="models-list__extra-links">
                            {% if perms.delivery.change_vehisle %}
                            <a href="{% url 'change_vehisle' pk=item.pk %}"
                                class="models-list__link models-list__link_change">
                                change
                            </a>
                            {% endif %}
                            {% if perms.delivery.delete_vehisle %}
                            <a href="{% url 'delete_vehisle' pk=item.pk %}"
                                class="models-list__link models-list__link_delete">
                                delete
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}
        {% if perms.delivery.view_deliveryclass %}
        <li data-model-name="delivery_class" class="control-panel__block control-panel__news-control">
            <div class="control-panel__header">Delivery classes</div>
            <div class="news-control">
                <div class="control-panel__text">Total classes: {{delivery_class_count}}</div>
                {% if perms.delivery.add_deliveryclass %}
                <a href="{% url 'create_delivery_class' %}" class="control-panel__create-button">Add delivery class</a>
                {% endif %}
                <div class="models-list__header">Delivery classes list <div class="models-list__button">&lt;</div>
                </div>
                <ul class="models-list">
                    {% for item in delivery_class_list %}
                    <li class="models-list__item">
                        <a href="#" class="models-list__link">{{item}}</a>
                        <div class="models-list__extra-links">
                            {% if perms.delivery.change_deliveryclass %}
                            <a href="{% url 'change_delivery_class' pk=item.pk %}"
                                class="models-list__link models-list__link_change">
                                change
                            </a>
                            {% endif %}
                            {% if perms.delivery.delete_deliveryclass %}
                            <a href="{% url 'delete_delivery_class' pk=item.pk %}"
                                class="models-list__link models-list__link_delete">
                                delete
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</div>
<div class="control-panel__user-authority">
    <div class="control-panel__text">
        Your authoriry level:
        {% if not user.is_superuser %}
        {% for group in user|show_groups %}
        <span class="control-panel__user-authority-level">
            {{group}}
        </span>
        {% endfor %}
        {% else %}
        <span class="control-panel__user-authority-level">superuser</span>
        {% endif %}
    </div>
</div>
{% else %}
<div class="page-access-error">
    Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
</div>
{% endif %}
{% else %}
<div class="page-access-error">
    You need to sign-in!
</div>
{% endif %}
<script src="{% static 'control_panel.bundle.js' %}"></script>
{% endblock %}