{% extends 'delivery/base-generation.html' %}

{% load static %}

{% block title %}<title>News</title>{% endblock %}

{% block sidebar %}
{% include 'delivery/header-news.html' %}
{% endblock %}

{% block content %}
<div id="important-news" class="important-news">
    <div class="title title_important-news">
        <div class="title__header">Important</div>
        <div class="title__underline"></div>
    </div>
    <div id="important-news__button_right" class="important-news__button important-news__button_right">&gt;</div>
    <ul id="important-news__list" class="important-news__list">
        {% for important_news in important_news_list %}
        {% if important_news.important_status %}

        <li class="important-news__item">
            <img src="{{important_news.title_image.url}}" alt="" class="important-news__image">
            <div class="important-news__header">
                <a href="{% url 'news_single' pk=important_news.pk %}"
                    class="important-news__link">{{important_news.title}}</a>
            </div>
            <div class="important-news__shadow"></div>
        </li>

        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="ordering">
    <div class="ordering__header">Sort by:</div>
    <form method="GET" id="ordering__form" class="ordering__form">
        <input type="checkbox" name="ordering_status" checked hidden>
        <ul class="ordering__list">
            {% for key, value in ordering_obj.items %}
            <li class="ordering__item">
                <input {% if 'ordering__'|add:key in request.GET %}checked{% endif %} class="ordering__checkbox"
                    type="checkbox" name="ordering__{{key}}" id="ordering__{{key}}" hidden>
                <label for='ordering__{{key}}' class="ordering__label">&lt;</label>
                <div class="ordering__text">{{value}}</div>
            </li>
            {% endfor %}
            <div class="tags">
                <div class="tags__header">Tags</div>
                <div id="tags__open-button" class="tags__open-button">&lt;</div>
                <ul id="tags__list" class="tags__list">
                    {% for tag in tags_list %}
                    <li class="tags__item">
                        <input {% if 'tags__'|add:tag.tagname in request.GET %}checked{% endif %} type="checkbox"
                            class="tags__checkbox" name="tags__{{tag}}" id="tags__{{tag}}" hidden>
                        <label for="tags__{{tag}}" class="tags__label">{{tag}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <input type="submit" class="ordering__submit" value="apply">
            <a href="?news_per_page={{news_per_page}}&page={{page_obj.number}}" class="ordering__reset">reset</a>
        </ul>
    </form>
</div>

<div class="news-content">
    <div class="title title_news-content">
        <div class="title__header">News</div>
        <div class="title__extra">All news about our company</div>
    </div>
    <ul class="news-content__list">
        {% for news in page_obj %}
        {% if news.title_image != 'none' %}
        <li class="news-content__item">
            <img class="news-content__image" src="{{news.title_image.url}}">
            <div class="news-content__text-container">
                <div class="news-content__header">
                    <a href="{% url 'news_single' pk=news.pk %}" class="news-content__link">{{news.title}}</a>
                </div>
                <div maxlength=100 class="news-content__text">{{news.short_description}}</div>
                <div class="news-content__pub-date">{{news.pub_date}}</div>
                <div class="news-content__views"><i class="far fa-eye"></i>{{news.views}}</div>
            </div>
        </li>
        {% else %}
        <li class="news-content__item">
            <div class="news-content__text-container">
                <div class="title title_news-content__item">
                    <a href="{% url 'news_single' pk=news.pk %}" class="title__header">{{news.title}}</a>
                    <div class="title__underline"></div>
                </div>
                <div class="news-content__description">
                    {{news.short_description}}
                </div>
                <div class="news-content__pub-date">{{news.pub_date}}</div>
                <div class="news-content__views"><i class="far fa-eye"></i>{{news.views}}</div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    <ul class="pagination__list">
        {% if page_obj.number != 1 %}
        {% if page_obj.number != 2 %}
        <li class="pagination__item">
            <a href="?page=1&news_per_page={{news_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">&lt;&lt;</a>
        </li>
        {% endif %}
        <li class="pagination__item">
            <a href="?page={{page_obj.previous_page_number}}&news_per_page={{news_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.previous_page_number}}</a>
        </li>
        {% endif %}
        <li class="pagination__item pagination__item_current">
            <a href="?page={{page_obj.number}}&news_per_page={{news_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.number}}</a>
        </li>
        {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="pagination__item">
            <a href="?page={{page_obj.next_page_number}}&news_per_page={{news_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.next_page_number}}</a>
        </li>
        {% if page_obj.number != penultimate_page %}
        <li class="pagination__item">
            <a href="?page={{page_obj.paginator.num_pages}}&news_per_page={{news_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">&gt;&gt;</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
    <ul class="pagination__list pagination__list_options">
        <div class="pagination__text">News per page</div>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&news_per_page=10{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">10</a>
        </li>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&news_per_page=20{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">20</a>
        </li>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&news_per_page=50{% for key,value in request.GET.items %}{% if key != 'page' and key != 'news_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">50</a>
        </li>
    </ul>
</div>
<script src="{% static 'news.bundle.js' %}"></script>
{% endblock %}