{% extends 'delivery/base-generation.html' %}
{% load static %}
{% load custom_template_tags %}

{% block title %} <title>{{news_content.title}}</title> {% endblock %}

{% block content %}
<!-- Честно, такое решение для возвращения на предыдущую страницу довольно кривое, но пока-что мои альтернативные решения тоже не идеальны -->
<div class="previous-page-button">
    <a href="#" onclick="javascript: history.go(-1)" class="previous-page-button__button">&lt; Previous page</a>
</div>

<div class="news-single">
    <div class="news-single__title-image"><img src="{{news_content.title_image.url}}" alt=""></div>
    <div class="news-single__title">
        {{news_content.title}}
        {% if user.is_authenticated %}
        {% if perms.delivery.change_news %}
        <a href="{% url 'change_news' pk=news_content.pk %}" class="news-single__change">Change</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="news-single__pub-date">publish date: {{news_content.pub_date}}</div>
    <div class="news-single__views"><i class="far fa-eye"></i>{{news_content.views}}</div>
    <div class="news-single__content">
        {{news_content.content|safe}}
    </div>
    {% if user.is_authenticated %}
    {% if perms.delivery.delete_news or user.pk == news_content.user.pk %}
    <a href="{% url 'news_single_delete' pk=news_content.pk %}?next=news" id="delete-pop-up__link_news"
        class="news-single__delete">Delete this news</a>
    {% endif %}
    {% endif %}
    <div class="news-single__tags">
        <div class="news-single__header">Tags</div>
        <ul class="news-single__tags-list">
            {% for tag in news_content.tags.all %}
            <li class="news-single__tags-item">
                {{tag}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if not similar_news_error %}
<div class="similar-news">
    <div class="similar-news__header">Similar news</div>
    <ul class="similar-news__list">
        {% for similar_news in similar_news_list %}
        <li class="similar-news__item">
            <img src="{{similar_news.title_image.url}}" alt="" class="similar-news__image">
            <div class="similar-news__shadow"></div>
            <a href="{% url 'news_single' pk=similar_news.pk %}?next={{request.path}}"
                class="similar-news__title">{{similar_news.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% for error in errors %}
{{error}}
{% endfor %}
<div class="news-comments">
    <div class="news-comments__title" id="news-comments__title">Comments</div>
    {% if user.is_authenticated %}
    <form method="POST" class="news-comments__form" id="comment-create-form">
        {% csrf_token %}
        <div class="news-comments__input-block news-comments__input-block_message">
            <div class="news-comments__input-name">Message</div>
            {{news_comment_form.message}}
        </div>
        <div class="news-comments__submit-block">
            <input type="submit" class="news-comments__submit">
        </div>
    </form>
    {% else %}
    <a class="news-comments__auth-error" href="{% url 'login' %}?next={{request.path}}">Please, sign in to write a
        comment</a>
    {% endif %}
    <ul class="news-comments__list">
        {% for comment in news_content.news_comment.all %}
        {% if comment.answer == None %}
        <li class="news-comments__item">
            <div class="news-comments__comment-id">{{comment.pk}}</div>
            <div class="news-comments__pub-date">{{comment.pub_date}} by:
                {% if user.pk == comment.user.pk %}
                <span class="news-comments__username">
                    <span class="news-comments__username_light-colored">You</span> ({{user.username}})
                </span>
                {% else %}
                <span class="news-comments__username">{{comment.user.username}}</span>
                {% endif %}
                </span>
                {% if comment.user|has_group:'news_moderators' %}
                <span class="news-comments__user-authority news-comments__user-authority_moderator">
                    moderator
                </span>
                {% elif comment.user|has_group:'news_admins' %}
                <span class="news-comments__user-authority news-comments__user-authority_admin">
                    admin
                </span>
                {% elif comment.user.is_superuser %}
                <span class="news-comments__user-authority news-comments__user-authority_superuser">
                    superuser
                </span>
                {% endif %}
            </div>
            <div class="news-comments__message">{{comment.message}}</div>
            <div class="news-comments__extra-links">
                {% if perms.delivery.delete_newscomment or comment.user.pk == user.pk %}
                {% if not comment.user|has_group:'news_admins' and not comment.user.is_superuser and not comment.user|has_group:'news_moderators' %}
                <a href="{% url 'delete_news_comment' pk=comment.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% elif comment.user.pk == user.pk %}
                <a href="{% url 'delete_news_comment' pk=comment.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% elif user.is_superuser %}
                <a href="{% url 'delete_news_comment' pk=comment.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% endif %}
                {% endif %}

                {% if not comment.user.pk == user.pk %}
                <a href="#news-comments__title" class="news-comments__link news-comments__link_answer">
                    <div class="news-comments__user-id" hidden>{{comment.pk}}</div>
                    <div class="news-comments__answer-target" hidden>{{comment.user.username}}</div>
                    answer
                </a>
                {% endif %}
            </div>
            <ul class="news-comments__answers-list"></ul>
        </li>
        {% endif %}
        {% endfor %}
        {% for answer in news_content.news_comment.all %}
        {% if not answer.answer == None %}
        <li class="news-comments__item news-comments__item_answer hidden">
            <div class="news-comments__answer-id">{{answer.answer.pk}}</div>
            <div class="news-comments__comment-id">{{answer.pk}}</div>
            <div class="news-comments__pub-date">{{answer.pub_date}} by:
                {% if user.pk == answer.user.pk %}
                <span class="news-comments__username">
                    <span class="news-comments__username_light-colored">You</span> ({{user.username}})
                </span>
                {% else %}
                <span class="news-comments__username">{{answer.user.username}}</span>
                {% endif %}
                </span>
                {% if answer.user|has_group:'news_moderators' %}
                <span class="news-comments__user-authority news-comments__user-authority_moderator">
                    moderator
                </span>
                {% elif answer.user|has_group:'news_admins' %}
                <span class="news-comments__user-authority news-comments__user-authority_admin">
                    admin
                </span>
                {% elif answer.user.is_superuser %}
                <span class="news-comments__user-authority news-comments__user-authority_superuser">
                    superuser
                </span>
                {% endif %}
            </div>
            <div class="news-comments__message">
                {{answer.message}}
            </div>
            <div class="news-comments__extra-links">
                {% if perms.delivery.delete_newscomment or answer.user.pk == user.pk %}
                {% if not answer.user|has_group:'news_admins' and not answer.user.is_superuser and not answer.user|has_group:'news_moderators' %}
                <a href="{% url 'delete_news_comment' pk=answer.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% elif answer.user.pk == user.pk %}
                <a href="{% url 'delete_news_comment' pk=answer.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% elif user.is_superuser %}
                <a href="{% url 'delete_news_comment' pk=answer.pk %}"
                    class="news-comments__link news-comments__link_delete">Delete</a>
                {% endif %}
                {% endif %}

                {% if not answer.user.pk == user.pk %}
                <a href="#news-comments__title" class="news-comments__link news-comments__link_answer">
                    <div class="news-comments__user-id" hidden>{{answer.pk}}</div>
                    <div class="news-comments__answer-target" hidden>{{answer.user.username}}</div>
                    answer
                </a>
                {% endif %}
            </div>
            <ul class="news-comments__answers-list"></ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<script src="{% static 'news_single.bundle.js' %}"></script>
{% endblock %}