{% extends 'delivery/base-generation.html' %}
{% load static %}

{% block title %} <title>{{news_content.title}}</title> {% endblock %}

{% block sidebar %}
{% include 'delivery/header-news.html' %}
{% endblock %}

{% block content %}
{% if comment_delete_res %}
{{comment_delete_res}}
{% endif %}
<div class="news-single">
    <div class="news-single__title-image"><img src="{{news_content.title_image.url}}" alt=""></div>
    <div class="news-single__title">{{news_content.title}}</div>
    <div class="news-single__views"><i class="far fa-eye"></i>{{news_content.views}}</div>
    <div class="news-single__content">
        {{news_content.content|safe}}
    </div>
    {% if perms.delivery.can_delete_news or user.pk == news_content.user.pk %}
    <div id="delete-pop-up__link_news" class="news-single__delete">delete</div>
    <div id="delete-pop-up_news" class="delete-pop-up">
        <div class="delete-pop-up__warning">Are you sure you want to delete this news?</div>
        <a href="{% url 'news_single_delete' pk=news_content.pk %}" id="delete-pop-up__confirmation_news"
            class="delete-pop-up__confirmation">Yes</a>
        <div id="delete-pop-up__cancel_news" class="delete-pop-up__cancel">Cancel</div>
    </div>
    {% endif %}
    <div class="news-single__tags">
        <div class="news-single__header">Tags</div>
        <ul class="news-single__tags-list">
            {% for tag in news_content.tags.all %}
            <li class="news-single__tags-item">
                {{tag}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if not similar_news_error %}
<div class="similar-news">
    <div class="similar-news__header">Similar news</div>
    <ul class="similar-news__list">
        {% for similar_news in similar_news_list %}
        <li class="similar-news__item">
            <img src="{{similar_news.title_image.url}}" alt="" class="similar-news__image">
            <div class="similar-news__shadow"></div>
            <a href="{% url 'news_single' pk=similar_news.pk %}" class="similar-news__title">{{similar_news.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="news-comments">
    <div class="news-comments__title">Comments</div>
    {% if user.is_authenticated %}
    <form method="POST" class="news-comments__form">
        {% csrf_token %}
        <div class="news-comments__input-block news-comments__input-block_message">
            <div class="news-comments__input-name">Message</div>
            {{news_comment_form.message}}
        </div>
        <div class="news-comments__submit-block">
            <input type="submit" class="news-comments__submit">
        </div>
    </form>
    {% else %}
    <a class="news-comments__auth-error" href="{% url 'login' %}?next={{request.path}}">Please, sign in to write a
        comment</a>
    {% endif %}
    <ul class="news-comments__list">
        {% for comment in news_content.news_comment.all %}
        <li class="news-comments__item">
            {% if perms.delivery.can_delete_news_comment or comment.user.pk == user.pk %}
            <a href="{% url 'delete_news_comment' pk=comment.pk %}" class="news-comments__item-delete">Delete</a>
            {% endif %}
            <div class="news-comments__pub-date">{{comment.pub_date}} by: <span
                    class="news-comments__username">{{comment.user.username}}</span></div>
            <div class="news-comments__message">{{comment.message}}</div>
        </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'news_single.bundle.js' %}"></script>
{% endblock %}