{% extends 'delivery/base-generation.html' %}

{% load static %}

{% block title %}<title>News</title>{% endblock %}

{% block sidebar %}
<header id="header" class="header header_news">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <div class="logo__title">News</div>
        <div class="logo__company-name">kallyas</div>
    </div>
    <div class="trigram" id="trigram">
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
    </div>
    <div class="header__options">
        <a href="#" class="header__logout">logout</a>
        <a href="" class="header__languages">languages</a>
        <ul class="header__social-networks">
            <li class="header__icon"><i class="fab fa-telegram-plane"></i></li>
            <li class="header__icon"><i class="fab fa-vk"></i></li>
            <li class="header__icon"><i class="fab fa-twitter"></i></li>
        </ul>
        <input type="text" class="header__search" placeholder="Search...">
    </div>
    </nav>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">company</a></li>
            <li class="nav__item"><a href="#" class="nav__link">global coverage</a></li>
            <li class="nav__item"><a href="{% url 'news' %}" class="nav__link">news</a></li>
            <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
        </ul>
    </nav>
</header>
<script src="{% static 'header.js' %}"></script>
{% endblock %}

{% block content %}
<div class="important-news">
    <div class="important-news__header">Important news</div>
    <ul class="important-news__list">
        <li class="important-news__item"></li>
    </ul>
</div>
<div class="page-counter">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</div>
<div class="pagination">
    =
</div>
{% endblock %}