{% extends 'delivery/base-generation.html' %}

{% load static %}

{% block title %}<title>News</title>{% endblock %}

{% block sidebar %}
<header id="header" class="header header_news">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <div class="logo__title">News</div>
        <div class="logo__company-name">kallyas</div>
    </div>
    <div class="trigram" id="trigram">
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
    </div>
    <div class="header__options">
        <a href="#" class="header__logout">logout</a>
        <a href="" class="header__languages">languages</a>
        <ul class="header__social-networks">
            <li class="header__icon"><i class="fab fa-telegram-plane"></i></li>
            <li class="header__icon"><i class="fab fa-vk"></i></li>
            <li class="header__icon"><i class="fab fa-twitter"></i></li>
        </ul>
        <input type="text" class="header__search" placeholder="Search...">
    </div>
    </nav>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">company</a></li>
            <li class="nav__item"><a href="#" class="nav__link">global coverage</a></li>
            <li class="nav__item"><a href="{% url 'news' %}" class="nav__link">news</a></li>
            <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
        </ul>
    </nav>
</header>
<script src="{% static 'header.js' %}"></script>
{% endblock %}

{% block content %}
<div class="important-news">
    <div class="title title_important-news">
        <div class="title__header">Important</div>
        <div class="title__underline"></div>
    </div>
    <ul class="important-news__list">
        {% for important_news in important_news_list %}
        {% if important_news.important_status %}

        <li class="important-news__item">
            <img src="{{important_news.title_image.url}}" alt="" class="important-news__image">
            <div class="important-news__header">
                <a href="{% url 'news_single' pk=important_news.pk %}"
                    class="important-news__link">{{important_news.title}}</a>
            </div>
            <div class="important-news__shadow"></div>
        </li>

        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="news-content">
    <div class="title title_news-content">
        <div class="title__header">News</div>
        <div class="title__extra">All news about our company</div>
    </div>
    <ul class="news-content__list">
        {% for news in page_obj %}
        <li class="news-content__item">
            <div class="news-content__header"><a href="{% url 'news_single' pk=news.pk %}" class="news-content__link">{{news.title}}</a></div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    <ul class="pagination__list">
        {% if page_obj.number != 1 %}

        <li class="pagination__item">
            <a href="?page=1" class="pagination__link">&lt;&lt;</a>
        </li>

        <li class="pagination__item">
            <a href="?page={{page_obj.previous_page_number}}"
                class="pagination__link">{{page_obj.previous_page_number}}</a>
        </li>

        {% endif %}

        <li class="pagination__item pagination__item_current">
            <a href="?page={{page_obj.number}}" class="pagination__link">{{page_obj.number}}</a>
        </li>

        {% if page_obj.number != page_obj.paginator.num_pages %}

        <li class="pagination__item">
            <a href="?page={{page_obj.next_page_number}}" class="pagination__link">{{page_obj.next_page_number}}</a>
        </li>

        <li class="pagination__item">
            <a href="?page={{page_obj.paginator.num_pages}}" class="pagination__link">&gt;&gt;</a>
        </li>

        {% endif %}
    </ul>
</div>
{% endblock %}