{% extends 'delivery/base-generation.html' %}
{% load static %}

{% block title %}<title>Vehisles</title>{% endblock %}

{% block sidebar %}
<header id="header" class="header header_vehisles">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <div class="logo__title">Vehisles</div>
        <div class="logo__company-name">kallyas</div>
    </div>
    <div class="trigram" id="trigram">
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
        <div class="trigram__line"></div>
    </div>
    <div class="header__options">
        <a href="#" class="header__logout">logout</a>
        <a href="" class="header__languages">languages</a>
        <ul class="header__social-networks">
            <li class="header__icon"><i class="fab fa-telegram-plane"></i></li>
            <li class="header__icon"><i class="fab fa-vk"></i></li>
            <li class="header__icon"><i class="fab fa-twitter"></i></li>
        </ul>
        <input type="text" class="header__search" placeholder="Search...">
    </div>
    </nav>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">company</a></li>
            <li class="nav__item"><a href="{% url 'vehisles' %}?filters=off" class="nav__link">vehisles</a></li>
            <li class="nav__item"><a href="{% url 'news' %}?ordering=off" class="nav__link">news</a></li>
            <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="filters">
    <div class="filters__header-container">
        <div class="filters__header">Filters</div>
        <div id="filters__button_open" class="filters__button filters__button_open">&gt;</div>
        <a href="?filters=off&vehisles_per_page={{vehisles_per_page}}&page={{page_obj.number}}"
            class="filters__button filters__button_reset">Reset</a>
    </div>
    <form method="GET" class="filters__form" name="filters__form" id='filters__form'>
        {% csrf_token %}
        <div class="filters__filter-container">
            <span class="filters__text">Can be booked?</span>{{filters.form.can_be_booked}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Delivery method</span>{{filters.form.delivery_method}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Status</span>{{filters.form.status}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Price per use</span>{{filters.form.price_per_use}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Price per km</span>{{filters.form.price_per_km}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Maximum load</span>{{filters.form.maximum_load}}
        </div>
        <div class="filters__filter-container">
            <span class="filters__text">Cargo volume</span>{{filters.form.cargo_volume}}
        </div>
        <input class="filters__submit" type="submit">
    </form>
</div>

{% if filter_res_count %}
<div class="filters__results">
    <span class="filters__text">Filters results: {{filter_res_count}}
        vehisle{% if filter_res_count > 1 %}s{% endif %}</span>
</div>
{% endif %}

{% if filter_res_error %}
<div class="filters__results filters__results_error">
    {{filter_res_error}}
</div>
{% endif %}

<div class="vehisles">

    <ul class="vehisles__list">
        {% for vehisle in page_obj %}
        <li class="vehisles__item">
            {% if vehisle.photo != 'photo' %}
            <img src="{{vehisle.photo.url}}" class="vehisles__image">
            {% endif %}
            <div class="vehisles__text-container">
                <div class="vehisles__model">{{vehisle.model}}</div>
                <div class="vehisles__type">{{vehisle.kind_of_vehisle}}</div>
                {% if vehisle.photo == 'photo' %}
                <div class="vehisles__extra-info">
                    <div class="vehisles__text">
                        <span class="vehisles__text_bold">Delivery method:</span> {{vehisle.delivery_method}}
                    </div>
                    <div class="vehisles__text">
                        <span class="vehisles__text_bold">Max load:</span> {{vehisle.maximum_load}}kg
                    </div>
                    <div class="vehisles__text">
                        <span class="vehisles__text_bold">Cargo volume:</span> {{vehisle.cargo_volume}}M<span
                            class="vehisles__text_degree">3</span>
                    </div>
                    <div class="vehisles__text">
                        <span class="vehisles__text_bold">Price per km:</span> {{vehisle.cargo_volume}} $/km
                    </div>
                    <div class="vehisles__text">
                        <span class="vehisles__text_bold">Price per use:</span> {{vehisle.price_per_use}}$
                    </div>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    <ul class="pagination__list">
        {% if page_obj.number != 1 %}
        {% if page_obj.number != 2 %}
        <li class="pagination__item">
            <a href="?page=1&vehisles_per_page={{vehisles_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">&lt;&lt;</a>
        </li>
        {% endif %}
        <li class="pagination__item">
            <a href="?page={{page_obj.previous_page_number}}&vehisles_per_page={{vehisles_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.previous_page_number}}</a>
        </li>
        {% endif %}
        <li class="pagination__item pagination__item_current">
            <a href="?page={{page_obj.number}}&vehisles_per_page={{vehisles_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.number}}</a>
        </li>
        {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="pagination__item">
            <a href="?page={{page_obj.next_page_number}}&vehisles_per_page={{vehisles_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">{{page_obj.next_page_number}}</a>
        </li>
        {% if page_obj.number != penultimate_page %}
        <li class="pagination__item">
            <a href="?page={{page_obj.paginator.num_pages}}&vehisles_per_page={{vehisles_per_page}}{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">&gt;&gt;</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
    <ul class="pagination__list pagination__list_options">
        <div class="pagination__text">Vehisles per page</div>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&vehisles_per_page=10{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">10</a>
        </li>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&vehisles_per_page=20{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">20</a>
        </li>
        <li class="pagination__item">
            <a href="?page={{page_obj.number}}&vehisles_per_page=50{% for key,value in request.GET.items %}{% if key != 'page' and key != 'vehisles_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                class="pagination__link">50</a>
        </li>
    </ul>
</div>
<script src="{% static 'vehisles.bundle.js' %}"></script>
{% endblock %}